@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: hsl(212, 45%, 89%);
}

main{
    background: hsl(0, 0%, 100%);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}

main img{
    width: 100%;
    border-radius: 1rem;
    
}
main div{
    margin: 1rem;
    text-align: left;
    font-weight: 700;
    font-size: 1.1rem;
}
main div span{
    font-size: 1.3rem;
    font-weight: 400;

}
